.icon{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: space-around;
}

.icon_2{
    width: 200px;
    height: 200px;
}

.table{
    border: 1px solid #88888830;
    list-style-type: none;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0 10px;
    padding-top: 10px;
    margin: 0 10px;

}

.pokemon{
    display: flex;
    justify-content: space-around;
}

.displey{
  display: flex;
}


/* .DashBoard {
  display: flex;
}
* {
  color: white;
}
.ol {
  border: 2px solid #88888830;
  border-radius: 5px;
  padding-left: 0;
}
.box {
  border: 1px solid #88888830;
  width: 300px;
  height: 70px;
}
.li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding-top: 10px;
  margin: 0 10px;
}
.pokemon {
  display: flex;
  justify-content: space-around;
}
.image {
  width: 50px;
  height: 50px;
} */
